.title {
  font-size: var(--fz-800);
}

.list {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  gap: 2rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, 17.5rem);
  }
}
