.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(1rem, 5vw, 2.5rem);
  border-bottom: 1px solid var(--clr-neutral-150);

  @media screen and (max-width: 590px) {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

.logo {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.title {
  font-size: var(--fz-700);
  text-transform: uppercase;
  font-weight: var(--fw-eb);
}

.subtitle {
  color: var(--clr-neutral-600);

  @media screen and (max-width: 590px) {
    display: none;
  }
}

.cart {
  display: flex;
  align-items: center;
  column-gap: var(--fz-200);
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  padding: 0.5rem 1rem;
  border-radius: 1.875rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.divider {
  width: 1px;
  height: 2rem;
  background-color: var(--clr-neutral-300);
}

.count {
  display: inline-flex;
  column-gap: 0.25rem;
}
